@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body, p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

h1, h2, h3{
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-style: normal;
}

h1{
  font-size: 72px;
  line-height: 88px;
  margin: 16px 0;
}

h2{
  font-size: 48px;
  line-height: 56px;
  margin: 16px 0;
}

h3{
  font-size: 28px;
  line-height: 32px;
  margin: 12px 0;
}

h4{
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

h5, h6{
  font-family: 'Nunito Sans', sans-serif;
}

h5{
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

input, button, label, select{
  font-family: 'Nunito Sans', sans-serif;
}